<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="app">
    <h2>CMSC 125 LABORATORY 1</h2>
    <button v-on:click="start">SETUP RESOURCES</button>
    <table>
      <thead>
        <tr>
          <th>RESOURCE ID</th>
          <th>STATUS</th>
          <th>CURRENT USER ID</th>
          <th>TIME LEFT</th>
          <th colspan="2">USERS WAITING</th>
          <th>TIME OF AVAILABILITY</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Users</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody v-for="res in resourceList">
        <tr>
          <th>{{res.id}}</th>
          <th>{{res.status}}</th>
          <!-- <th v-if="res.users[0].id != undefined">{{res.users[0].id}}</th>
          <th v-else>Nothing</th> -->
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js "></script>
  <script src="script.js" type="text/javascript " charset="utf-8 "></script>
</body>
</html>
